body, html, h1, h2, h3, header p, article p {
  margin: 0;
  padding: 0;
}

body, html {
  font-family: source-sans-pro, helvetica, arial, sans-serif;
  font-size: 100%;
  color: #333;
  padding-bottom: 2em;
}

h1, h2, h3 {
  font-family: league-gothic, helvetica, arial, serif;
  font-weight: normal;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
  margin: 1em 0 0.5em;
}

h3 {
  font-size: 1.7em;
  margin: 1.2em 0 0.3em;
  color: gray;
}

pre, code {
  font-family: source-code-pro, monospace;
}

code {
  background: #eee;
  padding: 0 0.2em;
  font-size: 0.8em;
  /*    border: 1px solid #d7d7d7;*/
}

pre {
  padding: 0.5em;
  margin: 0 0 2em;
  /*    border: 1px solid #d7d7d7;*/
  background: #eee;
  overflow: auto;
}

section {
  margin: 2em 0 1em;
}

header, article {
  padding: 0 1em 0;
}

header {
  padding-top: 3em;
}
header h1 {
  margin: 0 0 35px;
  margin: 0 0 2rem;
  color: black;
}
header p {
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 0 1.5em;
  color: #333;
}
header:after {
  content: " ";
  display: block;
  clear: both;
}

article p {
  margin: 1em 0;
}
article p, article li {
  line-height: 1.5em;
}

#download {
  text-align: center;
  width: 100%;
  margin: 0 0 2em;
}
#download .button {
  display: block;
  background: lightgreen;
  font-size: 2em;
  color: darkgreen;
  text-align: center;
  padding: 0.3em 0;
  margin: 0 0 0.3em;
  border-radius: 5px;
  text-decoration: none;
  font-family: league-gothic, helvetica, arial, sans-serif;
}
#download .button:hover {
  background: darkgreen;
  color: white;
}
#download span {
  color: #999;
  font-size: 0.8em;
}
#download span a {
  color: #999;
}
#download span a:hover {
  color: darkgray;
}
#download span + span {
  display: block;
}

.logo {
  position: absolute;
  overflow: hidden;
  right: 10%;
  top: 0;
  height: 0;
  /* hide text beyond overflow */
  padding-top: 4em;
  width: 2.2em;
  background: url(../adobelogo.svg) center top no-repeat;
  background-size: cover;
}

@media screen and (min-width: 42em) {
  header, article {
    max-width: 40em;
    margin: 0 auto;
    font-size: 110%;
  }

  section:first-of-type {
    margin-top: 1em;
  }

  .logo {
    right: 1em;
  }

  header {
    position: relative;
  }
  header p {
    float: left;
    width: 60%;
    margin-bottom: 0;
  }
  header #download {
    width: 35%;
    float: right;
    margin-bottom: 0;
  }
  header #download span + span {
    display: inline;
  }
}
